@import 'tailwindcss';

/* Add your custom font definition */
@font-face {
  font-family: 'BickhamScriptProRegular'; /* Choose a name for your font */
  src: url('./assets/fonts/BickhamScriptProRegular.ttf') format('ttf');
  font-weight: normal; /* Or the specific weight, e.g., 400 */
  font-style: normal; /* Or italic, etc. */
  font-display: swap; /* Improves perceived performance */
}

html {
  background-color: var(--color-blue-50);
}
